<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Images of Ireland</h4>
      <img src="Blaskets.jpg" />
      <p><small>Courtesy: <a href="http://www.discoverireland.com/">Discover Ireland</a></small></p>
    </div>
  </body>
<script>
	var image = new Array();   
	// LIST OF IMAGES 
	image[0] = "AirCorp.jpg"; 
	image[1] = "Blaskets.jpg"; 
	image[2] = "BrazenHeadDublin.jpg";   
	image[3] = "Derrynane.jpg";
</script>
</html>